APP_DEBUG = true
APP_TRACE = false

[DATABASE]
TYPE = mysql
HOSTNAME = 127.0.0.1
DATABASE = vmqphp
USERNAME = root
PASSWORD = 
HOSTPORT = 3306
CHARSET = utf8
PREFIX = 
DEBUG = true

[REDIS]
HOST = 127.0.0.1
PORT = 6379
PASSWORD = 
SELECT = 0

[CACHE]
DRIVER = file

[SESSION]
DRIVER = file 